header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.main-header {
  display: flex;
  align-items: center;
}

.logo-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.logo {
  height: 50px;
  padding-right: 16px;
  margin-left: 5px;
}

.logo-button img {
  height: 50px;
  transition: transform 0.2s ease;
}

.logo-button:hover img {
  transform: scale(1.1);
}

.title {
  font-size: 1.5rem;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
}
