<header>
  <div class="main-header">
    <button
      type="button"
      class="logo-button"
      routerLink="/"
      matToolTip="Ir a la página de inicio"
    >
      <img
        class="logo"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPh9xRSMPjrN2LdY3P0ZtRWeYCfbtPYPnXXQ&s"
        alt="Santander logo"
      />
    </button>
    <div class="title-container">
      <h1 class="title">Digital Channels</h1>
      <h2 class="subtitle">Technical Academy</h2>
    </div>
  </div>
  <img
    class="logo"
    src="https://upload.wikimedia.org/wikipedia/commons/6/67/Logo_Global_NTT_DATA_Future_Blue_RGB.png"
  />
</header>
<mat-divider></mat-divider>
