header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.main-header {
  display: flex;
  align-items: center;
}
.logo {
  height: 50px;
  padding-right: 16px;
  margin-left: 5px;
}

.title {
  font-size: 1.5rem;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
}
