<div class="form-group">
  <mat-form-field class="input">
    <mat-label>{{ label }}</mat-label>

    <input
      [type]="type"
      [formControl]="control"
      [placeholder]="placeholder"
      matInput
      placeholder="placeholder"
    />
    <mat-error class="error" *ngIf="control.errors?.['required']"
      >Este campo es obligatorio</mat-error
    >
    <mat-error class="error" *ngIf="control.errors?.['minlength']">
      El campo debe contener al menos
      {{ control.errors?.['minlength'].requiredLength }} caracteres
    </mat-error>
  </mat-form-field>
</div>
